@tailwind base;
@tailwind components;
@tailwind utilities;

/* //TUDO use tailwind to make this work */

body {
  background-color: #0a0118;
  font-family: sans-serif;
}

::-webkit-scrollbar-thumb {
 background-image: linear-gradient(to right bottom, #581c87 ,#d8b4fe);
 border-radius:8px;
}
::-webkit-scrollbar {
width:8px;
height:0;


}